[data-fls-ripple] {
  position: relative;
  overflow: hidden;
  // padding: 15px;
}

.--ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  // border: 1px solid rgba(255, 255, 255, 0.5);
  animation: button-circle 1.6s ease forwards;
}
@keyframes button-circle {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(10);
    opacity: 0;
  }
}
