<section data-fls-chefsdishes class="page__chefsdishes chefsdishes">
   <div class="chefsdishes__container">
      <div class="chefsdishes__head">
         <h3 class="chefsdishes__title">Chef’s Favorites</h3>
         <p class="chefsdishes__descr">
            The dishes our chef can’t stop thinking about, and neither will you.
         </p>
      </div>
      <div class="chefsdishes__main">
         <template id="dishcard-template-featured">
            <article class="dishcard">
               <div class="dishcard__image">
                  <img src="" alt="">
               </div>
               <div class="dishcard__content">
                  <div class="dishcard__label"></div>
                  <div class="dishcard__head">
                     <h3 class="dishcard__title"></h3>
                     <span class="dishcard__line"></span>
                     <span class="dishcard__price"></span>
                  </div>
                  <p class="dishcard__description"></p>
               </div>
            </article>
         </template>
         <ul class="chefsdishes__list"></ul>
      </div>
      <a href="our-menu.html" data-fls-button data-fls-ripple class="chefsdishes__btn btn">Explore Our Menu</a>
   </div>
</section>