<section data-fls-about class="about">
	<div class="about__container">
		<h2 class="about__title">Our Company</h2>
		<div class="about__main">
			<div class="about__descr">
				<p>Since its opening, the Restaurant has become a place where taste, quality, and dining experience unite in
					harmony. We are here with a passion for serving delicious food made from the finest fresh ingredients,
					combined with a touch of love and creativity from our kitchen.</p>
				<p>We believe that food is not just a means to fill the stomach, but a part of the story, happiness, and
					togetherness. That’s why every dish at the Restaurant is prepared with great care, to create special
					moments for you and your loved ones.</p>
			</div>
			<div data-fls-watcher class="about__stat stat">
				<div class="stat__block">
					<div class="stat__top">
						<span data-fls-digcounter data-fls-digcounter-speed="1500" class="stat__item">10</span>
						<span class="stat__label">+ years</span>
					</div>
					<p class="stat__text">of Culinary Excellence</p>
				</div>
				<div class="stat__block">
					<div class="stat__top">
						<span data-fls-digcounter data-fls-digcounter-speed="2000" class="stat__item">5</span>
						<span class="stat__label">awards</span>
					</div>
					<p class="stat__text">Winning Chefs</p>
				</div>
				<div class="stat__block">
					<div class="stat__top">
						<span class="stat__item">4.9/5</span>
					</div>
					<p class="stat__text">Customer Rating on Average</p>
				</div>
			</div>
			<div class="about__image">
				<img class="about__image-left" src="@img/home/about-01.jpg" alt="working process">
				<img class="about__image-right" src="@img/home/about-02.jpg" alt="working process">
			</div>
		</div>
	</div>
</section>