<div data-fls-tabs class="tabs">
	<nav data-fls-tabs-titles class="tabs__navigation">
		<button type="button" class="tabs__title --tab-active" aria-label="Tab 1">Таб №1</button>
		<button type="button" class="tabs__title" aria-label="Tab 2">Таб №2</button>
		<button type="button" class="tabs__title" aria-label="Tab 3">Таб №3</button>
	</nav>
	<div data-fls-tabs-body class="tabs__content">
		<div class="tabs__body">
			Вміст першого таба
		</div>
		<div class="tabs__body">
			Вміст другого таба
		</div>
		<div class="tabs__body">
			Вміст третього таба
		</div>
	</div>
</div>