<header data-fls-header data-fls-header-scroll data-fls-header-scroll-show class="header">
   <div class="header__container">
      <include src="@components/custom/logo/logo.html"></include>
      <include src="@components/layout/menu/menu.html" locals='{"active":"[[active]]"}'></include>
      <a href="/reservation.html#reservation-form" data-fls-button data-fls-dynamic=".menu__item--reserve, 491, 0"
         data-fls-ripple class="btn header__reserve-btn">
         <span>Reserve a Seat</span>
      </a>
   </div>
</header>