<section class="team">
   <div class="team__container">
      <div class="team__head">
         <h2 class="team__title">
            Meet the Soul Behind Our Kitchen
         </h2>
         <div class="team__descr">
            <p>Leading our kitchen is Chef Julien Moreau, whose expertise and vision elevate every dish on our menu.
               With over 15 years of experience in fine dining, Chef Julien draws inspiration from French countryside
               traditions while embracing modern culinary artistry.</p>
         </div>
      </div>
      <include src="@components/custom/teamcard/teamcard.html"></include>
      <ul class="team__list">
      </ul>
      <button data-fls-button data-fls-ripple class="btn team__btn" aria-label="View all team members">View All</button>
   </div>
</section>