<section class="page__faq faq">
   <div class="faq__container">
      <div class="faq__head">
         <h2 class="faq__title">What’s on Your Mind?
         </h2>
         <div class="faq__text">
            <p>We’ve answered the questions you didn’t know you had.</p>
         </div>
      </div>
      <div data-fls-spollers data-fls-spollers-one class="faq__spollers spollers-faq">
         <details class="spollers-faq__item">
            <summary data-fls-spollers-close class="spollers-faq__title">What are the restaurant's hours of operation?
            </summary>
            <div class="spollers-faq__body">
               Our restaurant is open daily from 10:00 AM to 10:00 PM. We strive to provide a welcoming atmosphere
               throughout the entire day, whether you're joining us for lunch or dinner. On weekends, the ambiance
               becomes even more lively, making it a perfect time to visit with friends or family. Please note that
               kitchen hours may vary slightly on holidays.</div>
         </details>
         <details data-fls-spollers-open class="spollers-faq__item">
            <summary data-fls-spollers-close class="spollers-faq__title">Do I need to make a reservation before coming?
            </summary>
            <div class="spollers-faq__body">
               Reservations are not required, but they are highly recommended during peak hours. Making a reservation
               ensures that you’ll have a table ready upon arrival, especially on weekends or special occasions.
               Walk-ins are always welcome, and we do our best to accommodate everyone. For larger groups, booking in
               advance is the best option.</div>
         </details>
         <details class="spollers-faq__item">
            <summary data-fls-spollers-close class="spollers-faq__title">Is there a vegetarian or vegan menu available?
            </summary>
            <div class="spollers-faq__body">
               Yes, we offer a variety of vegetarian and vegan dishes to suit different preferences. Our menu is
               thoughtfully crafted to include flavorful plant-based options that don’t compromise on taste. We also
               update our offerings seasonally to keep things fresh and exciting. If you have specific dietary
               requirements, our staff will be happy to assist.</div>
         </details>
         <details class="spollers-faq__item">
            <summary data-fls-spollers-close class="spollers-faq__title">Does this restaurant offer delivery services?
            </summary>
            <div class="spollers-faq__body">
               We provide delivery services through several popular platforms for your convenience. This allows you to
               enjoy our meals from the comfort of your home or office. Delivery times may vary depending on your
               location and demand. You can also place orders directly through our website for quick service.</div>
         </details>
         <details class="spollers-faq__item">
            <summary data-fls-spollers-close class="spollers-faq__title">Can I host a private event at the restaurant?
            </summary>
            <div class="spollers-faq__body">
               Yes, we welcome private events and special celebrations at our restaurant. Our team can help tailor the
               space and menu to suit your needs, whether it’s a birthday, corporate event, or intimate gathering. We
               offer flexible seating arrangements and personalized service. Contact us in advance to discuss
               availability and details.</div>
         </details>
         <details class="spollers-faq__item">
            <summary data-fls-spollers-close class="spollers-faq__title">Is parking available?</summary>
            <div class="spollers-faq__body">
               Parking is available near the restaurant, including both street parking and nearby parking lots. We aim
               to make your visit as convenient as possible, even during busy hours. Availability may vary depending on
               the time of day. We recommend arriving a bit earlier to secure a spot easily.</div>
         </details>
      </div>
   </div>
</section>
<section class="blog">
   <div class="blog__container">
      <div class="blog__head">
         <h2 class="blog__title">From Our Kitchen to Your Screen</h2>
         <div class="blog__descr">
            <p>Dive into recipes, behind the scenes, and tasty tales.</p>
         </div>
      </div>
      <div class="blog__main">
         <include src="@components/custom/blogcard/blogcard.html"></include>
         <ul class="blog__list">
         </ul>
      </div>
      <a data-fls-ripple href="blog.html" class="btn__blog btn">View All</a>
   </div>
</section>