.menu {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 72px;
  @media (max-width: toEm($mobile)) {
    margin-left: auto;
  }
  @include adaptiveValue("padding-top", 16, 8, 0, $containerWidth, 767.98);
  @include adaptiveValue("padding-right", 24, 8, 0, $containerWidth, 767.98);
  @include adaptiveValue("padding-bottom", 16, 8, 0, $containerWidth, 767.98);
  @include adaptiveValue("padding-left", 24, 8, 0, $containerWidth, 767.98);
  // .menu__icon
  &__icon {
  }
  // .menu__body
  &__body {
    @media (max-width: toEm($mobile)) {
      background-color: $bgColor;
      position: fixed;
      width: 100%;
      height: 100svh;
      left: -100%;
      top: 0;
      overflow: auto;
      padding: 100px 15px 30px 15px;
      transition: left 0.4s ease-out;
      &::before {
        content: "";
        position: fixed;
        width: 100%;
        height: 70px;
        left: -100%;
        top: 0;
        transition: left 0.3s;
        z-index: 2;
      }
      [data-fls-menu-open] & {
        left: 0;
        &::before {
          left: 0;
        }
      }
    }
  }
  // .menu__list
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptiveValue("gap", 24, 10, 0, $containerWidth, 767.98);
    @media (max-width: toEm($mobile)) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
    }
  }
  // .menu__item
  &__item {
    border: 1px solid transparent;
    .active {
      color: $accentColor;
      border: 1px solid $accentColor;
    }
  }
  // .menu__link
  &__link {
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    &:hover {
      color: $accentColor;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 0;
      height: 2px;
      background: $accentColor;
      transition: width 0.3s ease;
    }
    &:hover::after {
      width: 100%;
    }
    &--active {
      border-radius: 16px;
      color: $accentColor;
    }
    &--active::after {
      display: none;
    }
    @media (max-width: toEm($mobile)) {
      display: block;
      display: block;
      padding: 16px;
      font-size: 18px;
      line-height: 1.4;
      &--active {
        background: rgba(255, 255, 255, 0.078);
      }
    }
  }
}

//Burger Icon
.icon-menu {
  display: none;
  @media (max-width: toEm($mobile)) {
    display: block;
    position: relative;
    width: toRem(30);
    height: toRem(18);
    z-index: 5;
    @media (any-hover: none) {
      cursor: default;
    }
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $accentColor;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - 1px);
    }
    [data-fls-menu-open] & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
      }
    }
  }
}
