<section data-fls-feedback class="page__feedback feedback">
   <div class="feedback__container">
      <div class="feedback__head">
         <h2 class="feedback__title">Real Talk From Real Foodies</h2>
         <div class="feedback__text">
            <p>Exceptional dining experiences, shared by those
               who’ve tasted the difference.</p>
         </div>
      </div>
      <!-- Оболонка слайдера -->
      <div data-fls-slider class="feedback__slider swiper">
         <!-- Частина слайдера, що рухається -->
         <div class="feedback__wrapper swiper-wrapper">
            <!-- Слайд -->
            <div class="feedback__slide swiper-slide">
               <img src="@img/slide-01.jpg" alt="Image">
            </div>
            <div class="feedback__slide swiper-slide">
               <img src="@img/slide-02.jpg" alt="Image">
            </div>
            <div class="feedback__slide swiper-slide">
               <img src="@img/slide-03.jpg" alt="Image">
            </div>
            <div class="feedback__slide swiper-slide">
               <img src="@img/slide-01.jpg" alt="Image">
            </div>
            <div class="feedback__slide swiper-slide">
               <img src="@img/slide-02.jpg" alt="Image">
            </div>
            <div class="feedback__slide swiper-slide">
               <img src="@img/slide-03.jpg" alt="Image">
            </div>
         </div>`
         <!-- Якщо потрібна навігація (ліворуч/праворуч) -->
         <div class="feedback__controls">
            <div class="feedback-scrollbar"></div>
            <div class="feedback__arrows">
               <button data-fls-ripple type="button" class="feedback-button-prev">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                     <path d="M4 12L20 12M4 12L10 18M4 12L10 6" stroke="black" stroke-width="1.66667"
                        stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
               </button>
               <button data-fls-ripple type="button" class="feedback-button-next">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                     <path d="M20 12H4M20 12L14 6M20 12L14 18" stroke="black" stroke-width="1.66667"
                        stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
               </button>
            </div>
         </div>
         <!-- Якщо потрібен скролбар -->
      </div>
   </div>
</section>