// @import "../../sections/hero/hero.scss";
// @import "../../sections/chefsdishes/chefsdishes.scss";
// @import "../../sections/feedback/feedback.scss";
// @import "../../pages/our-menu/our-menu.scss";
// >============================
.page {
  /* .page__today */

  &__today {
    @include adaptiveValue("margin-bottom", 100, 80);
  }
}
.today-tab {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "title nav"
    "content content";
}

.today__title {
  grid-area: title;
}

.today-tab__navigation {
  grid-area: nav;
  justify-self: end;
}

.today-tab__content {
  grid-area: content;
}
.today {
  /* .today__container */
  &__container {
  }
  /* .today__title */
  &__title {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    color: $titleColor;
    line-height: 1.15;
    text-wrap: nowrap;
    font-size: 48px;
  }
}
.today-tab {
  /* .today-tab__navigation */
  &__navigation {
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #1c1c1c;
  }
  /* .today-tab__title */
  &__title {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    color: $titleColor;

    &.--tab-active {
      background-color: #010614;
      border-radius: 20px;
    }
  }
  /* .today-tab__content */
  &__content {
    margin-top: 30px;
  }

  /* .today-tab__body */

  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    &[hidden] {
      display: none;
    }
  }
}
.--tab-active {
}
